{% extends 'layout/_base.html' %}
{% load category_tags %}

{% block content %}
<div class="mt-8 mb-72 px-6">
    <h2 class="text-xl font-bold mb-4">Categories</h2>
    <div class="grid grid-cols-3 gap-6">
        {% for category in categories %}
            <div
                    class="bg-gray-100 p-4 rounded-lg shadow-lg"
                    style="
                        background: rgba(255, 255, 255, 0.3);
                        backdrop-filter: blur(10px);
                        border: 1px solid rgba(255, 255, 255, 0.1);
                        "
            >
                <p class="font-semibold">{{ category.name }}</p>
                {{ category|show_subcategories }}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}