{% extends 'layout/_base.html' %}

{% block content %}
<div class="container mt-8 mb-12 mx-auto">
    <h1 class="text-2xl font-bold mb-4">Categories</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for category in categories %}
        <div class="border p-4 rounded-md shadow-md">
            <a href="" class="text-blue-500 font-semibold">{{ category.name }}</a>
            {% if category.subcategories.all %}
            <ul class="mt-2 ml-4">
                {% for subcategory in category.subcategories.all %}
                <li>
                    <a href="" class="text-gray-600">{{ subcategory.name }}</a>
                    {% if subcategory.subcategories.all %}
                    <ul class="mt-1 ml-4">
                        {% for sub_subcategory in subcategory.subcategories.all %}
                        <li>
                            <a href="{% url 'shop:subsubcategory_detail' %}" class="text-gray-500">{{ sub_subcategory.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{#{% url 'category_detail' category.pk %}#}
{#{% url 'subcategory_detail' subcategory.pk %}#}
{#{% url 'sub_subcategory_detail' sub_subcategory.pk %}#}