{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="stylesheet" href={% static 'CSS/signin.css' %}>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="login-box">
        <h2>Sign in</h2>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li
                class="
                    {% if message.tags == 'warning' %}text-yellow-500 mb-4
                    {% elif message.tags == 'error' %}text-red-500 mb-4
                    {% elif message.tags == 'success' %}text-green-500 mb-4
                    {% endif %}">
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="user-box">
                <input type="text" name="phone_number" id="id_phone_number" class="form-input" required>
                <label for="id_phone_number">Phone number</label>
            </div>
            <div class="user-box">
                <input type="password" name="password" id="id_password" class="form-input" required>
                <label for="id_password">Password</label>
            </div>
            <button type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Login
            </button>
        </form>
        <div>
            <p style="
                    color: #fff;
                ">
                Don't have an account? Click
                <span>
                    <a href="{% url 'account:sign-up' %}" style="
                        color: #03e9f4;
                        text-decoration: underline;
                        font-weight: bold;
                        font-family: Arial, sans-serif;
                        font-size: 14px;
                    ">
                        here
                    </a>
                </span>to create one
            </p>
        </div>
        <div>
            <p style="
                    color: #fff;
                ">
                Back to
                <span>
                    <a href="{% url 'shop:home' %}" style="
                        color: #03e9f4;
                        text-decoration: underline;
                        font-weight: bold;
                        font-family: Arial, sans-serif;
                        font-size: 14px;
                    ">
                        home
                    </a>
                </span>
            </p>
        </div>
    </div>
</body>

</html>