{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    {#Fonts#}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <title> {% block title %} Online Shopping Store {% endblock %} </title>
</head>

<body class="font-[Poppins] bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee] bg-fixed">
    <section id="Header-Section">
        {% include 'layout/header.html' %}
    </section>

    <section id="Body-Section">
        {% block content %} {% endblock %}
    </section>

    <section id="Footer-Section">
        {% include 'layout/footer.html' %}
    </section>

    {#Include script#}
        <script>
            let isUserAuthenticated = {{ request.user.is_authenticated|yesno:"true,false" }};
        </script>
        <script src="{% static 'JS/header.js' %}"></script>
        <script src="{% static 'JS/footer.js' %}"></script>
        <script src="{% static 'JS/home-message.js' %}"></script>
        <script src="{% static 'JS/edit_profile_message.js' %}"></script>
        <script src="{% static 'JS/home.js' %}"></script>
        <script src="{% static 'JS/user_profile.js' %}"></script>
</body>

</html>